

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fef9f9;
    color: #1b1f83;
}

.left-container {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.title {
    font-weight: bold;
}


.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display:inline;
    margin-right: 10px;
}

.nav-link {
    color: #1b1f83;
    text-decoration: none;
    cursor: pointer;
}

.button {
    background-color: #b60a0a;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

