.login-container {
    max-width: 450px; 
    width: 90%; 
    margin: 100px auto;
    padding: 40px; 
    border: 2px solid #ccc;
    border-radius: 8px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    background-color: #f8f8f8; 
    text-align: center;
  }
  
  .login-logo {
    width: 120px;
    margin: 0 auto 20px; 
    display: block;
  }
  
  .signup-header {
    font-size: 20px; 
    margin-bottom: 20px;
    font-weight: bold; 
    color: #333; 
  }
  
  .login-input {
    width: 100%;
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 5px; 
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  .password-help a {
    color: #ed1d24;
    font-size: 16px; 
  }
  
  .password-help {
    margin-top: 20px; 
    margin-bottom: 20px; 
    font-size: 16px; 
  }
  
  .login-button {
    width: 100%;
    padding: 10px; 
    border-radius: 5px; 
    border: none;
    background-color: #163691; 
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-button:hover {
    background-color: #2a7eb3; 
  }
  
  .signup-link {
    color: #ed1d24;
    text-decoration: none;
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }