.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Ensure it's above other content */
    background-color: #007bff;
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 36px; /* Increased font size */
    cursor: pointer;
    transition: opacity 0.3s;
  }
  
  .scroll-to-top:hover {
    opacity: 0.8;
  }
  